@{
    ViewData["Title"] = "Home Page";
}

<h1 class="titulo">Sistema de gestión de cafetería</h1>
<div class="container">
    <div class="row secciones">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./image/cliente.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Clientes</h5>
                <p class="card-text">Administra los clientes de la cafetería.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Cliente" asp-action="Index">Ir a sección</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./image/producto.webp" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Productos</h5>
                <p class="card-text">Administra los productos ofrecidos por la cafetería.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Producto" asp-action="Index">Ir a sección</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./image/pedido.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pedidos</h5>
                <p class="card-text">Administra los pedidos de la cafetería.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Pedido" asp-action="Index">Ir a sección</a>
            </div>
        </div>
    </div>
</div>
