@model DeliveryApp.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h3>Detalles del producto N° @Html.DisplayFor(model => model.IdProducto)</h3>
<hr />

<div class="info">
    <div class="iteminfo">
        <b><p> @Html.DisplayNameFor(model => model.Descripcion) :  </p> </b> <p class="ms-2"> @Html.DisplayFor(model => model.Descripcion) </p>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdProducto">Editar</a> |
        <a  class="btn btn-primary" asp-action="Index">Volver</a>
    </div>
</div>
